.row {
	lost-utility: clearfix;
	&.center {
		lost-center: var(--rowMaxWidth) no-flex;
	}
	&.reset {
		width: 100%;
	}

	&.align-children- {
		/* Centers / Middles / Reset */
		&center {
			lost-align: center; //same as { margin: 0 auto; }
		}
		&middle-center {
			lost-align: middle-center; //same as { margin: 0 auto; vertical-align: middle; }
		}
		&reset {
			lost-align: reset;
		}		

		/* Tops */
		&top {
			lost-align: top;
		}	
		&top-left {
			lost-align: top-left;
		}
		&top-center {
			lost-align: top-center;
		}
		&top-right {
			lost-align: top-right;
		}	

		/* Bottoms */
		&bottom {
			lost-align: bottom;
		}
		&bottom-left {
			lost-align: bottom-left;
		}
		&bottom-center {
			lost-align: bottom-center;
		}
		&bottom-right {
			lost-align: bottom-right;
		}

		/* Lefts */
		&left {
			lost-align: left;
		}	
		&middle-left {
			lost-align: middle-left;
		}	

		/* Rights */	
		&right {
			lost-align: right;
		}			
		&middle-right {
			lost-align: middle-right;
		}		

		/* Horizontal / Vertical */			
		&vert {
			lost-align: vertical;
		}
		&horz {
			lost-align: horizontal;
		}
	}

	&.flex-row {
		lost-flex-container: row;
	}

	&.flex-column {
		lost-flex-container: column;
	}
}


.row.test {
	background: black;
	color: white;
}