.row {
	lost-utility: clearfix;
	&.center {
		margin-left: auto;
		margin-right: auto;
		max-width: calc(var(--rowMaxWidth));
	}
	&.reset {
		width: 100%;
	}

	&.position-children- {
		/* Centers / Middles / Reset */
		&center {
			lost-align: center no-flex;
		}
		&middle-center {
			lost-align: middle-center no-flex; 			
		}
		&reset {
			lost-align: reset no-flex;			
		}		

		/* Tops */
		&top {
			lost-align: top no-flex;			
		}	
		&top-left {
			lost-align: top-left no-flex;			
		}
		&top-center {
			lost-align: top-center no-flex;			
		}
		&top-right {
			lost-align: top-right no-flex;			
		}	

		/* Bottoms */
		&bottom {
			lost-align: bottom no-flex;			
		}
		&bottom-left {
			lost-align: bottom-left no-flex;			
		}
		&bottom-center {
			lost-align: bottom-center no-flex;			
		}
		&bottom-right {
			lost-align: bottom-right no-flex;			
		}

		/* Lefts */
		&left {
			lost-align: left no-flex;			
		}	
		&middle-left {
			lost-align: middle-left no-flex;			
		}	

		/* Rights */	
		&right {
			lost-align: right no-flex;
		}			
		&middle-right {
			lost-align: middle-right no-flex;			
		}		

		/* Horizontal / Vertical */			
		&vert {
			lost-align: vertical no-flex;			
		}
		&horz {
			lost-align: horizontal no-flex;			
		}
	}
}

@for $var from 1 to 12 {
	.row {
		&.row-$(var) { 
			max-width: calc(calc(calc(var(--rowMaxWidth) / var(--columnCount)) * $var) + var(--columnPadding));
		}
	}
}

/* for tests only */
.row.test-height {
	border: 1px solid black;
	height: 512px;
}