.column--gutters {
	&--on {
		padding: var(--grid--column--padding);	
	}
	&--off {
		padding: 0;
	}
}

@for $i from 1 to var(--grid--column--count) {
	.column--size--$i { 
		lost-column: $i/var(--grid--column--count)  var(--grid--gutter--width) no-flex;
	}
}