/* 
The color palette for the project.
http://cssnext.io/features/#color-function 

background-color: var(--primary);
color: var(--greyDark);
*/
:root {
	--color-light-yellow: #efc94c;
	--color-blue: #334d5c;
	--color-coral: #df5a49;
	--color-teal: #45B29D;
	--color-orange: #e27a3f;
	--color-boarder-gray: #565051;

}