:root {
	/* The number of columns in the grid system. */
	--grid--column--count: 12;
	
	/* The default breakpoint at which columns in the grid and semantic grid systems change from 100% to the column width specified. */
	--grid--column--breakpoint: medium;

	/* The default amount of padding within columns in pixels. */
	--grid--column--padding: 16px;

	/* The default gutter width between columns in pixels or percent. */
	--grid--gutter--width: 16px;

	/* The maximum width of a row on the page.<p>**NOTE**: if `$gutterWidth` is in pixels, `$rowMaxWidth` must be in pixels.</p> */
	--grid--row--max-width: 1220px;
}

/* The default gutter size for columns */
@lost gutter 16px;

/* Include or not inlcude flexbox */
@lost flexbox flex;

/* Include or not include cycle */
@lost cycle none;

/* The default clear direction */
@lost clearing left;